
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messi Fan Page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="wrapper">
        <h1 class="header-title">Messi Fan Page</h1>
        <img src="https://i.pinimg.com/564x/93/cf/71/93cf71271e3446d9807c1f38202798a3.jpg" alt="Lionel Messi" class="messi-image">
        <p class="description">Discover the journey of Lionel Messi.</p>
        <p class="description1">Made by @Wezlon-2024</p>
        <a class="logout" href="/logout">LOGOUT</a>
    </div>
</body>
</html>
